# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
# 실제 환경변수는 무시하되, 템플릿 파일(.env.example)은 깃허브에 올라가도록 명시적으로 지정합니다.
.env
.env.local
.env.development
.env.test
.env.production
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
